<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="domain" type="DomainCodeChallenge.Core.Configuration.DomainSettings, DomainCodeChallenge.Core" />
  </configSections>
  <domain>
    <providers>
      <add type="DomainCodeChallenge.Core.Business.Providers.OTBREProvider, DomainCodeChallenge.Core" />
      <add type="DomainCodeChallenge.Core.Business.Providers.LREProvider, DomainCodeChallenge.Core" />
    </providers>
  </domain>
</configuration>